*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Orbitron';
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 9rem;
}


.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list-item{
    margin: 0px 30px;
    font-size: 27px;
    font-weight: 500;
    cursor: pointer;
}

.button-group{
    display: flex;
    align-items: center;
}

.nav-button{
    all: unset;
    cursor: pointer;
    border: 3px solid #000;
    padding: 0.6rem 3rem;
    border-radius: 18px;
    font-size: 24px;
    font-family: 'Poppins';
}

.nav-button:hover{
    background: #333;
    color: white;
    transition: all .3s ease-in-out;
    border: 3px solid #333;
}

.search-icon{
    margin-right: 15px;
}

.action {
    font-weight: 900;
    font-size: 32px;
    position: relative;
}

.action:after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: -4px;
    top: 36px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60%;
    background: #000;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.action:hover:after {
    width: 100%;
}

/* Hero Section */
.hero-container{
    display: flex;
}

.person{
    position: absolute;
    left: 9rem;
    bottom: 3rem;
}

.square{
    position: absolute;
    top: 34rem;
    left: 22rem;
}

.star{
    position: absolute;
    right: 10rem;
    top: 15.5rem;
}

.globe {
    position: absolute;
    left: 50%;
}

.hero-container-right {
    width: 70rem;
    position: absolute;
    right: 0rem;
    top: 21rem;
    height: 100vh;
    text-align: center;
}

.hero-heading {
    font-size: 5rem;
}

.hero-description{
    margin: auto;
    width: 52rem;
    margin-top: 4rem;
    font-family: 'Poppins';
    font-size: 20px;
    color: #3a3838c7;
}

.button-ariya{
    padding: 5rem 0rem;
}

.button-email{
    all: unset;
    border: 2px solid #000;
    padding: 5px 30px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #3a3838c7;
    font-weight: 600;
}

.button-email:hover{
    background: #333;
    color: white;
    transition: all .3s ease-in-out;
    border: 2px solid #333;
}

.button-join{
    all: unset;
    background: #000;
    color: #fff;
    padding: 5px 15px;
    font-size: 1.5rem;
    border-radius: 11px;
    cursor: pointer;
}

.button-ariya button {
    margin: 0px 8px;
}

.contact-heading{
    font-family: monospace;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #3a3838c7;
}

.icons > span { 
    margin: 0px 14px;
}